[submodule "user/.config/awesome/battery-widget"]
	path = user/.config/awesome/battery-widget
	url = git@github.com:deficient/battery-widget.git
[submodule "roles/nvim/files/nvim/pack/packer/opt/packer.nvim"]
	path = roles/nvim/files/nvim/pack/packer/opt/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
