*.swp
*~
*.log
*.bak

# email caching
user/.config/neomutt/accounts/net.riseup/
user/.config/neomutt/accounts/ca.resist/

# neovim compiled files
roles/nvim/files/nvim/plugin/packer_compiled.vim
roles/nvim/files/nvim/plugin/packer_compiled.lua
