*.swp
*~
*.log
*.bak
vim/.netrwhist

# emacs stuff
emacs.d/ac-comphist.dat
emacs.d/elpa
emacs.d/auto-save-list

# email caching
user/.config/neomutt/accounts/net.riseup/
user/.config/neomutt/accounts/ca.resist/
