[user]
	email = jlavoie1602@gmail.com
	name = Justin Lavoie
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	decorate = auto
	ui = auto
	showbranch = auto
	grep = auto

[color "branch"]
	current = green bold
	locate = yellow
	remote = blue bold

[color "status"]
	added = green bold
	changed = blue bold
	untracked = red bold

[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red
	new = green

[core]
	editor = "nvim"
	pager = "less"
	excludesfile = ~/.gitignore
[alias]
  a = add
  ap = add -p
	cm = commit -v
	cma = commit -av
	st = status -sb
	co = checkout
	br = branch -av
  bd = branch -d
	ps = push
	pu = pull
  lg = log --graph --oneline --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%aN>%Creset' 
	di = diff
	re = remote -v
  unstage = reset HEAD --
  uncommit = reset --soft HEAD~
  stash = stash -u
[push]
	default = current
[diff "gpg"]
	textconv = gpg --no-tty --decrypt
[pager]
    branch = false
